ul,
li,
ol {
    list-style: none;
}

#todo-form {
    text-align: center;
}

#todo-input {
    width: 200px;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.btn {
    width: 70px;
    line-height: 20px;
    border: none;
    outline: none;
    background: #ffffff;
    color: #3e3e3e;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
}

.todo-list li {
    margin: 2px 0;
}

.todo-list li span {
    margin-right: 5px;
}