@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
ol {
    list-style: none;
}

body {
    background: #cbaa8a;
}

#todo-form {
    margin: 30px auto;
    width: 100%;
    text-align: center;
    background: transparent;
}

#todo-input {
    width: 320px;
    line-height: 40px;
    text-align: center;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

input:focus {
    outline: none;
}

.btn {
    width: 80px;
    line-height: 40px;
    border: none;
    outline: none;
    background: #ffffff;
    color: #3e3e3e;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.2) 0px 18px 36px -18px inset;
}

.todo-list {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.todo-list li {
    margin: 4px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    background: #ffffff;
}

.todo-list li span {
    margin-right: 15px;
}

button {
    border: none;
    box-shadow: inset 5px 5px 6px rgba(0, 0, 0, 0.15),
                      5px 5px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

@media (max-width: 764px) {
    .todo-list {
        width: 80%;
    }
    .todo-list li {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 564px) {
    #todo-input {
        width: 240px;
    }
    .btn {
        width: 50px;
    }
}